* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f3f4f6;
  color: #1f2937;
}

.hero {
  min-height: 50px;
  padding: 50px 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background: 
    linear-gradient(rgba(11, 87, 208, 0.7), rgba(26, 115, 232, 0.7)),
    url("vyapamlogo.png");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero p {
  color: #e5e7eb;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  max-width: 2000px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 18px;
  font-size: 1rem;
  outline: none;
}

.search-box button {
  border: none;
  background: #ff7a00;
  color: #fff;
  padding: 0 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.section {
  width: 90%;
  max-width: 1500px;
  margin: 60px auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 35px;
  color: #1e3a5f;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: #fff;
  padding: 30px 25px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card h3 {
  color: #0b57d0;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.card p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 20px;
}

.card a {
  color: #0b57d0;
  font-weight: 600;
  text-decoration: none;
}

.subject-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.subject-grid button {
  background: linear-gradient(135deg, #0b57d0, #1a73e8);
  color: white;
  border: none;
  padding: 18px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.update-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-card {
  background: #fff;
  padding: 20px 25px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 2rem;
}

@media (max-width: 992px) {
  .card-grid,
  .subject-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
  }

  .search-box button {
    width: 100%;
    padding: 15px;
  }

  .card-grid,
  .subject-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.95rem;
  }

  .section-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.7rem;
  }

  .hero p {
    font-size: 0.9rem;
  }
}
